body {
    padding-top: 50px;
/*    font-family: "trykker", "arial black",   sans-serif;*/
    font-family: megrim, "arial black",   sans-serif;
    background-color: rgba(222, 172, 99, 0.88);
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}


.logo{
    padding-top: 20px;    
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    
